extends layout

block content
    if error.length
        div.alert.alert-danger= error
    form(action="/users/login", method="post")
        div.form-group
            label(for="username") Username
            input#username.form-control(type="text", name="username", placeholder="Username")
        div.form-group
            label(for="password") Password
            input#password.form-control(type="password", name="password", placeholder="Password")
        div.form-group
            button.btn.btn-default(type="submit") Log In